@import "assets/scss/variables.scss";

.containerTop {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    font-size: 20px;
    & .leftSide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;
        padding-left: 20px;
        & .logoText {
            font-size: 25px;
        }
    }
    & .rightSide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        height: 100%;
    }
}
.btnBlock {
    height: 100%;
}
.inputBlock {
    height: 35px;
    border-radius: 12px;
    input {
        background-color: rgba(40, 116, 207, 0.595);
        color: white;
        height: 100%;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.775);
        font-size: 1em;
        padding-left: 8px;
    }
    input::placeholder {
        color: white;
    }
}
.a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        padding-left: 4px;
        font-size: 18px;
        font-weight: 600;
        color: black
    }
}
.main {
    height: 100vh;
    background-color: rgb(221, 205, 237);
}
