@import "assets/scss/variables.scss";

.containerTop {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    padding: 0 10px 0 10px;
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat";
    & .leftSide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 260px;
    }
    & .rightSide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 550px;
    }
}
.inputBlock {
    height: 35px;
    border-radius: 12px;
    input {
        background-color: rgba(40, 116, 207, 0.595);
        color: white;
        height: 100%;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.775);
        font-size: 1em;
        padding-left: 8px;
    }
    input::placeholder {
        color: white;
    }
}
.a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        padding-left: 4px;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
    }
}
.create {
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 4px;
    padding: 0 6px 0 6px;
    background-color: #004285;
    cursor: pointer;
    &:hover {
        background-color: #0288d5;
    }
}