@import "assets/scss/variables.scss";

.containerTop {
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 400;
    z-index: 100;
    & .leftSide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;
        padding-left: 20px;
        & .logoText {
            font-size: 25px;
        }
    }
    & .rightSide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        height: 100%;
        & li {
            height: 100%;
        }
    }
}
.a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        padding-left: 4px;
        font-size: 18px;
        font-weight: 600;
        color: black
    }
}